.header {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem auto 0;
  width: 90%;
  .logo {
    margin-top: 0.5rem;
    img {
      width: 70%;
    }
  }
  //  nav
  .nav {
    //  nav list
    &-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $dark-violet;
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 4;
      top: 0;
      left: 100%;
      overflow: hidden;
      transition: transform 0.5s ease;

      //  nav item
      .__item {
        margin: 2rem 0 3rem;
        a {
          font-size: 2.2rem;
          color: $white;
        }
      }
      // btns
      .btns {
        border-top: $grayish-violet 1px solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
          color: $white;
          font-size: 2rem;
          margin: 1.5rem;
          &:last-child {
            background-color: $cyan;
            padding: 0.5rem 4.5rem;
            border-radius: 1.5rem;
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
    //btn-menu
    .btn-burger-menu {
      position: relative;
      z-index: 20;
      span {
        padding: 0.2rem 1.2rem;
        background-color: $grayish-violet;
        margin: 0.4rem 0;
        display: block;
        transition: all ease 0.5s;
      }
    }

    //  nav open
    .nav-open {
      transform: translateX(-100%);
    }
    //  toggle
    .toggle .line1 {
      transform: rotateZ(45deg) translateY(280%);
      background: $white;
    }
    .toggle .line2 {
      opacity: 0;
    }
    .toggle .line3 {
      transform: rotateZ(-45deg) translateY(-300%);
      background: $white;
    }
  }
}
