#manage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;

  // text
  .text {
    text-align: center;
    //  title
    .title {
      font-size: 2.5rem;
      padding: 1rem 10rem;
      color: $dark-blue;
      font-weight: 700;
    }
    // subtitle
    .subtitle {
      color: $dark-gray-blue;
      font-size: 1.8rem;
      padding: 2rem;
      margin-bottom: 2rem;
    }
  }
  //  list infos
  .list-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    //  single info
    .info {
      margin: 1.5rem 0;
      // title
      .title {
        display: flex;
        align-items: center;
        justify-content: baseline;
        margin: 2rem 0 1rem 2rem;
        background-color: $pale-red;
        // btn
        .__btn {
          background-color: $bright-red;
          color: $very-light-gray;
          padding: 0.5rem 1.8rem;
          border-radius: 1.5rem;
          font-size: 1.5rem;
        }
        // text
        .__text {
          background-color: $pale-red;
          color: $dark-blue;
          font-size: 1.8rem;
          width: 100%;
          padding-left: 1.5rem;
        }
      }
      //   info description
      .__description {
        text-align: left;
        padding: 2rem;
        color: $dark-gray-blue;
        font-size: 1.5rem;
      }
    }
  }
}
