#testimonials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 6rem;

  //  title
  .title {
    font-size: 2.5rem;
    padding: 2rem;
    color: $dark-blue;
    font-weight: 700;
  }
  //  list
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    //  single item
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;

      // img
      .user-img {
        margin: 3rem 0 2rem 0;
      }
      //user-name
      .user-name {
        font-size: 1.8rem;
        color: $very-dark-blue;
        font-weight: 500;
        margin-top: 1.5rem;
      }
      //info
      .info {
        text-align: center;
        font-size: 1.6rem;
        color: $dark-gray-blue;
        padding: 2rem;
      }
    }
  }
  //btn
  .btn {
    background-color: $bright-red;
    color: $very-light-gray;
    padding: 0.5rem 1.8rem;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    margin: 3rem;
  }
}
