@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: 'Be Vietnam', sans-serif;
  scroll-behavior: smooth;
  background-color: #fafafa; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  position: relative; }
  .header .nav .logo .img-logo {
    width: 100%;
    height: 50%;
    margin: 1rem 0 0 1rem; }
  .header .nav .__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fafafa;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 4;
    top: 0;
    left: 100%;
    overflow: hidden;
    transition: transform 0.5s ease; }
    .header .nav .__links .__link .__item {
      color: #1d1e25;
      font-weight: 500;
      font-size: 2rem;
      text-decoration: underline; }
  .header .nav .burger-menu {
    margin-right: 1rem;
    position: relative;
    z-index: 20; }
    .header .nav .burger-menu span {
      padding: 0.2rem 1.4rem;
      background-color: #1d1e25;
      margin: 0.4rem 0;
      display: block;
      transition: all ease 0.5s; }
  .header .nav .nav-open {
    transform: translateX(-100%); }
  .header .nav .toggle .line1 {
    transform: rotateZ(45deg) translateY(280%);
    background: #1d1e25; }
  .header .nav .toggle .line2 {
    opacity: 0; }
  .header .nav .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-300%);
    background: #1d1e25; }

#pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left; }
  #pricing .img {
    margin: 4rem 1.5rem 4rem 0;
    width: 100%;
    height: 100%; }
  #pricing .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem;
    text-align: center; }
    #pricing .text .title {
      font-size: 3.3rem;
      color: #242d52;
      font-weight: 700;
      margin-bottom: 2rem; }
    #pricing .text .subtitle {
      font-size: 1.8rem;
      color: #9095a7;
      margin-bottom: 3.5rem; }
    #pricing .text .btn {
      color: #fafafa;
      background-color: #f25f3a;
      font-size: 1.4rem;
      padding: 0.5rem 2rem;
      border-radius: 1.8rem; }

#manage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem; }
  #manage .text {
    text-align: center; }
    #manage .text .title {
      font-size: 2.5rem;
      padding: 1rem 10rem;
      color: #242d52;
      font-weight: 700; }
    #manage .text .subtitle {
      color: #9095a7;
      font-size: 1.8rem;
      padding: 2rem;
      margin-bottom: 2rem; }
  #manage .list-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
    #manage .list-infos .info {
      margin: 1.5rem 0; }
      #manage .list-infos .info .title {
        display: flex;
        align-items: center;
        justify-content: baseline;
        margin: 2rem 0 1rem 2rem;
        background-color: #ffefeb; }
        #manage .list-infos .info .title .__btn {
          background-color: #f25f3a;
          color: #fafafa;
          padding: 0.5rem 1.8rem;
          border-radius: 1.5rem;
          font-size: 1.5rem; }
        #manage .list-infos .info .title .__text {
          background-color: #ffefeb;
          color: #242d52;
          font-size: 1.8rem;
          width: 100%;
          padding-left: 1.5rem; }
      #manage .list-infos .info .__description {
        text-align: left;
        padding: 2rem;
        color: #9095a7;
        font-size: 1.5rem; }

#testimonials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 6rem; }
  #testimonials .title {
    font-size: 2.5rem;
    padding: 2rem;
    color: #242d52;
    font-weight: 700; }
  #testimonials .list {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #testimonials .list .item {
      display: flex;
      flex-direction: column;
      align-items: center; }
      #testimonials .list .item .user-img {
        margin: 3rem 0 2rem 0; }
      #testimonials .list .item .user-name {
        font-size: 1.8rem;
        color: #1d1e25;
        font-weight: 500;
        margin-top: 1.5rem; }
      #testimonials .list .item .info {
        text-align: center;
        font-size: 1.6rem;
        color: #9095a7;
        padding: 2rem; }
  #testimonials .btn {
    background-color: #f25f3a;
    color: #fafafa;
    padding: 0.5rem 1.8rem;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    margin: 3rem; }

#simple {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f25f3a; }
  #simple .title {
    font-size: 3.3rem;
    text-align: center;
    color: #ffefeb;
    padding: 3rem;
    font-weight: 700; }
  #simple .btn {
    font-size: 1.4rem;
    padding: 0.5rem 2rem;
    border-radius: 1.8rem;
    color: #f25f3a;
    background-color: #fafafa;
    font-weight: 500;
    margin: 2rem 0 5rem; }

.footer {
  background-color: #1d1e25;
  color: #fafafa;
  display: flex;
  flex-direction: column; }
  .footer .input-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem; }
    .footer .input-form input {
      border: none;
      font-size: 1.4rem;
      color: #9095a7;
      padding: 0.5rem 0.8rem;
      border-radius: 1.5rem; }
    .footer .input-form .btn {
      margin-left: 2rem;
      background-color: #f25f3a;
      color: #fafafa;
      font-size: 1.4rem;
      padding: 0.5rem 1.5rem;
      border-radius: 1.5rem; }
  .footer .links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem; }
    .footer .links .links-items .item {
      font-size: 1.4rem;
      color: #fafafa;
      margin: 1rem;
      cursor: pointer; }
  .footer .icons {
    display: flex;
    align-items: center;
    justify-content: center; }
    .footer .icons .icon {
      margin: 1rem 2rem;
      width: 5%;
      cursor: pointer; }
  .footer .logo {
    padding: 3rem;
    width: 50%;
    margin: 2rem auto;
    cursor: pointer; }
  .footer .copyright {
    color: #fafafa;
    font-size: 1.2rem;
    text-align: center;
    padding: 2rem; }

@media only screen and (min-width: 768px) {
  .header .nav .__links .__link .__item {
    font-size: 3rem; }

  #pricing .text .title {
    font-size: 6rem;
    line-height: 1.2; }
  #pricing .text .subtitle {
    font-size: 2.2rem; }
  #pricing .text .btn {
    font-size: 2.2rem; }

  #manage .text .title {
    font-size: 3.2rem; }
  #manage .text .subtitle {
    font-size: 2rem; }
  #manage .list-infos .info .title .__btn {
    font-size: 2rem; }
  #manage .list-infos .info .title .__text {
    font-size: 2.8rem; }
  #manage .list-infos .info .__description {
    font-size: 1.8rem; }

  #testimonials .title {
    font-size: 3.2rem; }
  #testimonials .list .item .user-name {
    font-size: 2.5rem; }
  #testimonials .list .item .info {
    font-size: 2rem; }
  #testimonials .btn {
    font-size: 2.2rem; }

  #simple .title {
    font-size: 5rem;
    padding: 0 16rem; }
  #simple .btn {
    margin-top: 5rem;
    font-size: 2.2rem; }

  .footer .input-form input {
    font-size: 2.2rem; }
  .footer .input-form .btn {
    font-size: 2.2rem; }
  .footer .links {
    align-items: flex-start; }
    .footer .links .links-items .item {
      font-size: 2rem;
      margin: 3rem; }
  .footer .copyright {
    font-size: 1.8rem; } }
@media screen and (min-width: 1024px) {
  .header .nav {
    justify-content: space-between;
    align-items: center; }
    .header .nav .logo .img-logo {
      margin-top: 3rem; }
    .header .nav .__links {
      position: relative;
      left: 0%;
      flex-direction: row;
      background: none;
      width: 70%;
      margin-top: 1.5rem; }
      .header .nav .__links .__link .__item {
        font-size: 2rem;
        text-decoration: none; }
        .header .nav .__links .__link .__item:hover {
          text-decoration: underline; }
    .header .nav .burger-menu {
      display: none; }
    .header .nav .nav-open {
      transform: none; }

  #pricing {
    background-size: contain;
    background-position: top right;
    flex-direction: row-reverse; }
    #pricing .text .title {
      font-size: 4rem; }
    #pricing .text .subtitle {
      font-size: 1.8rem;
      padding: 3rem 4rem 0; }
    #pricing .text .btn {
      font-size: 2rem;
      margin-top: 2rem; }

  #testimonials .list {
    flex-direction: row;
    align-items: flex-start; }
    #testimonials .list .item .info {
      font-size: 1.5rem; }

  #simple {
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    #simple .title {
      font-size: 3rem;
      padding: 0;
      margin-right: 2rem; }
    #simple .btn {
      font-size: 1.8rem; }

  .footer .icons .icon {
    width: 3%; }
  .footer .logo {
    width: 20%; } }

/*# sourceMappingURL=main.css.map */
