// md media
@include media-md {
  // header
  .header {
    .nav {
      .__links {
        .__link {
          .__item {
            font-size: 3rem;
          }
        }
      }
    }
  }
  // pricing
  #pricing {
    .text {
      .title {
        font-size: 6rem;
        line-height: 1.2;
      }
      // subtitle
      .subtitle {
        font-size: 2.2rem;
      }
      .btn {
        font-size: 2.2rem;
      }
    }
  }
  // manage
  #manage {
    // text
    .text {
      // title
      .title {
        font-size: 3.2rem;
      }
      .subtitle {
        font-size: 2rem;
      }
    }
    // list-infos
    .list-infos {
      // single info
      .info {
        .title {
          // btn
          .__btn {
            font-size: 2rem;
          }
          // text
          .__text {
            font-size: 2.8rem;
          }
        }
        // description
        .__description {
          font-size: 1.8rem;
        }
      }
    }
  }
  //testimonials
  #testimonials {
    .title {
      font-size: 3.2rem;
    }
    //list
    .list {
      .item {
        // user-name
        .user-name {
          font-size: 2.5rem;
        }
        //info
        .info {
          font-size: 2rem;
        }
      }
    }
    //btn
    .btn {
      font-size: 2.2rem;
    }
  }
  //simple
  #simple {
    .title {
      font-size: 5rem;
      padding: 0 16rem;
    }
    .btn {
      margin-top: 5rem;
      font-size: 2.2rem;
    }
  }

  //footer
  .footer {
    .input-form {
      input {
        font-size: 2.2rem;
      }
      // btn
      .btn {
        font-size: 2.2rem;
      }
    }
    //  links
    .links {
      align-items: flex-start;
      .links-items {
        .item {
          font-size: 2rem;
          margin: 3rem;
        }
      }
    }
    // copyright
    .copyright {
      font-size: 1.8rem;
    }
  }
}

//  lg media
@include media-lg {
  // header
  .header {
    .nav {
      justify-content: space-between;
      align-items: center;
      // logo
      .logo {
        .img-logo {
          margin-top: 3rem;
        }
      }
      // links
      .__links {
        position: relative;
        left: 0%;
        flex-direction: row;
        background: none;
        width: 70%;
        margin-top: 1.5rem;
        // link
        .__link {
          .__item {
            font-size: 2rem;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      //  burger menu
      .burger-menu {
        display: none;
      }
      .nav-open {
        transform: none;
      }
    }
  }

  //pricing
  #pricing {
    background-size: contain;
    background-position: top right;
    flex-direction: row-reverse;
    // text
    .text {
      .title {
        font-size: 4rem;
      }
      .subtitle {
        font-size: 1.8rem;
        padding: 3rem 4rem 0;
      }
      .btn {
        font-size: 2rem;
        margin-top: 2rem;
      }
    }
  }

  //testimonials
  #testimonials {
    .list {
      flex-direction: row;
      align-items: flex-start;
      // item
      .item {
        .info {
          font-size: 1.5rem;
        }
      }
    }
  }
  //simple
  #simple {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .title {
      font-size: 3rem;
      padding: 0;
      margin-right: 2rem;
    }
    .btn {
      font-size: 1.8rem;
    }
  }

  //footer
  .footer {
    .icons {
      .icon {
        width: 3%;
      }
    }
    .logo {
      width: 20%;
    }
  }
}
